.footer
  .container
    .footer__logo
    .footer__description
      | Начните пользоваться Jincor прямо сейчас.
      br
      | Бесплатный период - 3 месяца
    .footer__try-button
      button(type='button').button.button--primary Попробовать бесплатно
    .footer__social-networks
      .social-networks
        .social-networks__network
          a.social-networks__circle.social-networks__circle--facebook(href="http://facebook.com" target="_blank")
          .social-networks__name Facebook
        .social-networks__network
          a.social-networks__circle.social-networks__circle--twitter(href="http://twitter.com" target="_blank")
          .social-networks__name Twitter
        .social-networks__network
          a.social-networks__circle.social-networks__circle--slack(href="http://slack.com" target="_blank") 
          .social-networks__name Slack
        .social-networks__network
          a.social-networks__circle.social-networks__circle--github(href="http://github.com" target="_blank")
          .social-networks__name Github
        .social-networks__network
          a.social-networks__circle.social-networks__circle--medium(href="http://medium.com" target="_blank")
          .social-networks__name Medium