.tabs
    .tabs__buttons(data-tabs)
        .tabs__toggle.tabs__toggle_active
            .tabs__icon.tabs__icon--chat
            .tabs__name
                | Личная
                br
                | переписка
        .tabs__toggle
            .tabs__icon.tabs__icon--group
            .tabs__name
                | Групповые
                br
                | чаты
        .tabs__toggle
            .tabs__icon.tabs__icon--search
            .tabs__name
                | Поиск
                br
                | компаний
        .tabs__toggle
            .tabs__icon.tabs__icon--inbox
            .tabs__name
                | Обращения
                br
                | в компанию
        .tabs__toggle
            .tabs__icon.tabs__icon--channel
            .tabs__name
                | Канал
                br
                | компании

    .tabs__content-wrap
        .tabs__tab
            | Больше, чем мессенджер. Jincor - это решение
            br
            | для тех, кто хочет заниматься бизнесом просто
            br
            | эффективно
        .tabs__tab 2222
        .tabs__tab 3333
        .tabs__tab 4444
        .tabs__tab 5555