.step-section
  .step-section__filled-background.step-section__filled-background--blue
  .container
    .step-section__number 3
    .step-section__title Пригласите своих сотрудников, чтобы начать общение
    .screenshot
      .screenshot__header
      .screenshot__image
    .step-section__text Больше, чем мессенджер. Jincor - это решение для тех, кто хочет заниматься бизнесом просто и эффективно.