.step-section
  .step-section__filled-background.step-section__filled-background--red
  .container
    .step-section__number 1
    .step-section__title Зарегистрируйте свою компанию в платформе Jincor
    .screenshot.js-screenshot-first
      .screenshot__header
        .screenshot__control
          .screenshot__circle
          .screenshot__circle
          .screenshot__circle
      .screenshot__image
        img(src='./messenger.png' alt='Регистрация')
    .step-section__text Больше, чем мессенджер. Jincor - это решение для тех, кто хочет заниматься бизнесом просто и эффективно.