.step-section
  .step-section__filled-background.step-section__filled-background--blue
  .container
    .step-section__number 3
    .step-section__title Пригласите своих сотрудников, чтобы начать общение
    .screenshot
      .screenshot__header
        .screenshot__control
          .screenshot__circle
          .screenshot__circle
          .screenshot__circle
      .screenshot__image
        img(src='./messages.png' alt='Регистрация')