.landing
  .container
    .landing__wrapper
      .js-landing-section
        .landing__logo
        .landing__name
        .landing__description
          | Ваше рабочее общение в одном месте.
          br
          | Орагнизуйте процессы общения внутри компании
          br
          | и устанавливайте новые бизнес-контакты
        .landing__try-button
          button(type='button').button.button--primary Попробовать бесплатно
        .landing__sign-in-button
          button(type='button').button.button--link Войти
      .landing__scroll-arrow