.start
  .container
    .start__name Jincor
    .start__title
      | Начать легче, чем вам кажется.
      br
      | Всего три простых шага:
    .start__steps
      .start__step.start__step--first
        .start__circle.start__circle--red 1
        .start__action Создай
      .start__step.start__step--second
        .start__divider.start__divider--left
        .start__circle.start__circle--green 2
        .start__action Пригласи
        .start__divider.start__divider--right
      .start__step.start__step--third
        .start__circle.start__circle--blue 3
        .start__action Общайся
    .start__button
      button(type='button').button.button--secondary Узнать больше